<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/512.png">
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site is created by Titas Kundu. It uses data from mapbox.com and darksky.net to fetch the weather report of any place.</p>
      <p>Contact :
        <br>Email - kundutitas@gmail.com / titas96@icloud.com
        <br>Phone - +918637062917 </p>
      <img class="potrait" src="/img/Potrait_self1.png">
      <p>{{text}}</p>
    </div>

    {{>footer}}
  </body>
</html>
