<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/512.png">
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <img class="potrait" src="/img/Potrait_self1.png">
      <p>{{text}}</p>
    </div>

    {{>footer}}
  </body>
</html>
